<h1>Events</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Artist</th>
    <th>Lowest price</th>
    <th>Highest price</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody>
  <% events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.artist %></td>
      <td><%= event.city %></td>
      <td><%= event.price_low %></td>
      <td><%= event.price_high %></td>
      <td><%= event.event_date %></td>
    </tr>
  <% end %>
  </tbody>
</table>
