<section>
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-3">All events</h2>

    <div class="row">
      <table class="table table-hover events-table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Artist</th>
          <th scope="col">City</th>
          <th scope="col">Lowest price</th>
          <th scope="col">Highest price</th>
        </tr>
        </thead>
        <tbody>

        <% events.each do |event| %>
          <tr onclick="$('#ticket_event_id').val('<%= event.id %>');" style="cursor: pointer;">
            <td><a href="javascript:void(0);"><%= event.id %></a></td>
            <td><a href="javascript:void(0);"><%= event.artist %></a></td>
            <td><a href="javascript:void(0);"><%= event.city %></a></td>
            <td><a href="javascript:void(0);"><%= event.price_low %></a></td>
            <td><a href="javascript:void(0);"><%= event.price_high %></a></td>
            <td><a href="javascript:void(0);"><%= event.event_date %></a></td>
          </tr>
        <% end %>

        </tbody>
      </table>
    </div>
  </div>
</section>
