<section>
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">All events</h2>
    <hr class="star-dark mb-5">

    <div class="row">
      <a href="<%= new_event_path %>" class="btn btn-primary btn-xl ml-auto">New event</a>
      <table class="table table-hover events-table">
        <thead>
        <tr>
          <th scope="col">Artist</th>
          <th scope="col">Location</th>
          <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <% @events.each {|event| %>
          <tr>
            <td><a href="/events/<%= event.id %>"><%= event.artist %></a></td>
            <td><a href="/events/<%= event.id %>"><%= event.location %></a></td>
            <td><a href="/events/<%= event.id %>"><%= event.event_date %></a></td>
          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</section>
