<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Description</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Lowest price:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>Highest price:</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.event_date %>
</p>


<%= render "tickets/new_ticket_form", ticket: Ticket.new(:event_id => @event.id) %>

<%= link_to 'Back', events_path %>
