<section>
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0"><%= @event.artist %></h2>
    <hr class="star-dark mb-5">

    <div class="row">
      <div class="col-md-6 text-center">
        <div class="mb-3">
          <span class="question">Who?</span>
          <div>
            <strong><%= @event.artist %></strong>
          </div>
        </div>
        <div class="mb-3">
          <span class="question">Where?</span>
          <div>
            <strong><%= @event.location %></strong>
          </div>
        </div>
        <div>
          <span class="question">What?</span>
          <div>
            <strong><%= @event.description %></strong>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="mb-3">
          <span class="question">How much?</span>
          <div>
            <strong><%= number_with_precision(@event.price_low, :precision => 2) %>
              -  <%= number_with_precision(@event.price_high, :precision => 2) %></strong>
          </div>
        </div>
        <div>
          <span class="question">When?</span>
          <div>
            <strong><%= @event.event_date %></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div style="height: 70vh;" id="events-map"></div>
<script>
    var eventMap = L.map('events-map');
    var mapboxToken = 'pk.eyJ1Ijoid29qdGFzNjI2IiwiYSI6ImNqcjg2MXhlczAyd20zeXF4cGxmenp1bGEifQ.Sxyfr4VMLK9Eq5R6M2deHw';
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + mapboxToken, {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: mapboxToken
    }).addTo(eventMap);
    var latLongArray = <%= @latLong %>;
    if (latLongArray) {
        eventMap.setView(latLongArray, 15);
        L.marker(latLongArray).addTo(eventMap);
    } else {
        var cracowCenter = [50.062201, 19.938157];
        eventMap.setView(cracowCenter, 15);
    }
</script>

<% if current_user.present? %>
  <%= render "tickets/new_ticket_form",
             ticket: Ticket.new(:event_id => @event.id, :email_address => current_user.email),
             show_event_id: false,
             edit_form: false %>
<% end %>

<%= render "tickets/list", tickets: @event.tickets, show_new_ticket_btn: false %>
