<section id="contact">
  <div class="container">
    <h3 class="text-center text-uppercase text-secondary mb-0">Tickets</h3>

    <div class="row">
      <% if show_new_ticket_btn %>
        <a href="<%= new_ticket_path %>" class="btn btn-primary btn-xl ml-auto">New ticket</a>
      <% end %>
      <table class="table table-hover events-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Seat id</th>
          <th>Price</th>
          <th>Email address</th>
          <th>Address</th>
          <th>Phone</th>
          <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <% tickets.each do |ticket| %>
          <tr>
            <td><a href="/tickets/<%= ticket.id %>"><%= ticket.name %></a></td>
            <td><a href="/tickets/<%= ticket.id %>"><%= ticket.seat_id_seq %></a></td>
            <td><a href="/tickets/<%= ticket.id %>"><%= ticket.price %></a></td>
            <td><a href="/tickets/<%= ticket.id %>"><%= ticket.email_address %></a></td>
            <td><a href="/tickets/<%= ticket.id %>"><%= ticket.address %></a></td>
            <td><a href="/tickets/<%= ticket.id %>"><%= ticket.phone %></a></td>
            <% if ticket.user == current_user %>
              <td><%= link_to 'Edit', edit_ticket_path(ticket), :class => 'btn btn-primary ml-auto mr-2' %></td>
              <td><%= link_to 'Remove', ticket, method: :delete, data: {confirm: 'Are you sure?'},
                              :class => 'btn btn-primary ml-auto' %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
